h2	
{
	color: white;
	text-align: left;
	font-family: Monospace;
}
.log
{
	background-color: #ECF0F1 ;
	text-align: center;
}
button
{
	width: 100%;
	color: white;
}
.btn btn-primary
{
	background-color:  #58D68D ;
}
#star
{
	color: red;
}
header
{
	background-color: DodgerBlue;
}
.form-horizontal
{
	background-color: #ECF0F1 ;
	text-align: center;
}
.c1
{
	background-color: red;
	text-align: center;	
}
.button {
    background-color:darkslategray; 
    color:white; 
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}
.highlight
{
	color: red;
}
