        .log
        {
            padding: 10px;
            /*margin: auto;*/
            margin-left: auto;
            border: 2px groove black;
            width:80%;

        }
        .img-rounded
        {
            border-radius: 60px;
            height: 95px;
        }
        
        input[type=text],input[type=password],input[type=email]
        {
             width: 100%;
             padding: 12px 20px;
             margin: 8px 0;
             display: inline-block;
             border: 1px solid #ccc;
             box-sizing: border-box;
        }
        input[type=Submit]
        {
            width: 100%;
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            background-color: slateblue;
        }
        .img-con
        {
            text-align: center;
        }
        .top
        {
            background-color: #FFF8DC;
            height: 100px;


        }
        .pic
        {
            float: left;
        }
        .col-sm-6
        {
            padding: 60px;
            
        }

