body
{
	background: linear-gradient(to top left, #000066 0%, #ffcc66 100%);
}
h1,h2,h3,h5
{
	color: white;
	text-align: left;
	font-family: Monospace;
}
.form-horizontal
{
	background-color: #ECF0F1;
	text-align: center;
}
button
{
	width: 100%;
	color: white;
}
.btn btn-primary
{
	background-color:  #58D68D;
}
#star
{
	color: red;
}

.highlight
{
	color: red;
}